<div class="card bg-light">
    <div class="card-body">

    <h3>
        Instructions
    </h3>
    <p>
        In this part of the experiment you will be randomly paired with two other participants who, with you, form your
        3 person group for this part of the experiment. The decisions of you and your partners will determine your payoff
        and your partners' payoffs in this part of the experiment.
    </p>
    <p>
        You and your two partners start with an endowment of $10. Your decision, and the decisions of your partners, is
        how much of your $10 to put into your group's Group Account. Whatever of your endowment you do not put into the
        Group Account will be put into your Private Account.
    </p>
    <p>
        After you and your partners make your decisions of how much to contribute to the Group Account, your
        contributions will be summed together and held in the Group Account. This Group Account generates money for
        everyone in your group. Specifically, for each dollar held in the Group Account, everyone in your group earns
        $0.50. Your earnings for this part of hte experiment will be the amount you kept in your Private Account plus
        your earnings from the Group Account. Mathematically,
    </p>
    <p>
        $$ \text{Payoff} = \text{Private Account} + 0.50 \times \text{Group Account} $$
    </p>
    <p>
        For this part of the experiment, you will be randomly assigned two partners who could be one of several
        “types”.  In an interaction separate from their interaction with you the computer will randomly pair them with
        another participant. In that interaction, the computer will first divide $10 between your counterpart and this
        other participant.  Your counterpart will be given an opportunity (that they are not forced to accept) to take
        money that belongs to their partner. This could be any amount between $0.10 and $3.00.
    </p>

    <p>
        The decisions of other participants, in the role of a prosecutor and in the role of jurors, will determine
        whether those suspected of taking money from their partner are found guilty or not-guilty of having done so.
        Some truly innocent people may appear to be guilty and some truly guilty people may appear to be innocent. As a
        result, your possible counterparts are of different types: those who have never been accused of a crime, those
        who have been accused, but never found guilty, and those who have been found guilty. All participants found
        guilty of having taken money from another participant had to pay a monetary penalty as well.
    </p>

    <p>
        Your decision is to tell us how much of your $10 endowment you would like to contribute to the Group Account.
        You can contribute in $2 increments. That is, you can contribute $0, $2, $4, $6, $8, or $10.
    </p>
    </div>
</div>

{% block scripts %}
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML">
</script>
{% endblock %}