{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Part 1
{% endblock %}

{% block content %}

    {% if player.role == 'Investor' %}

        {% include 'criminal_trust/InstructionsI.html' %}

    {% else %}

        {% include 'criminal_trust/InstructionsT.html' %}

    {% endif %}


<div class="content">
    {% next_button %}
</div>

{% endblock %}

{% block scripts %}

    <script>
        $(document).ready(function() {
    setTimeout(function() {
        $(".content").fadeIn(1500);
    }, 60*1000);
});
    </script>

{% endblock %}