<div class="card bg-light">
    <div class="card-body">

    <h3>
        Instructions
    </h3>
    <p>
        In this part of the experiment you will be randomly paired with two other participants who, with you, form your
        3 person group for this part of the experiment. The decisions of you and your partners will determine your payoff
        and your partners' payoffs in this part of the experiment.
    </p>
    <p>
        You and your two partners start with an endowment of $10. Your decision, and the decisions of your partners, is
        how much of your $10 to put into your group's Group Account. The part of your endowment that you do not put into
        the Group Account will be put into your Private Account. Similarly, the part of your partners' endowment that
        they do not put into the Group Account are put into their respective private accounts. For every dollar you put
        into your Private Account, you will earn $1. Similarly, your partners will earn $1 for each dollar they put into
        their respective Private Accounts.
    </p>
    <p>
        For example, if you were to put $2 into the Group Account, you will put $10 - $2 = $8 into your Private Account.
        Thus, in this scenario, you would earn $8 from your Private Account.
    </p>
    <p>
        Each member will earn the same amount from what you give to the Group Account. On the other hand, you will also
        get a payoff from the other group members' contributions. Specifically, for each dollar held in the Group
        Account, everyone in your group earns $0.50. For example, if the sum of all contributions to the Group Account
        is $12, then each member of the group will earn $$ \text{$}12.00 \times 0.50 = \text{$}6.00 $$. If the sum of
        all contributions to the Group Account is $16, then each member of the group will earn
        $$ \text{$}16.00 \times 0.50 = \text{$}8.00 $$.
    </p>
    <p>
        Your earnings for this part of hte experiment will be the amount you kept in your Private Account plus
        your earnings from the Group Account. Mathematically,
    </p>
    <p>
        $$ \text{Payoff} = \text{Private Account} + 0.50 \times \text{Group Account} $$
    </p>
    <p>
        For this part of the experiment, you will be randomly assigned two partners who could be one of several
        “types”.  In an interaction separate from their interaction with you the computer will randomly pair them with
        another participant. In that interaction, the computer will first divide $10 between your counterpart and this
        other participant.  Your counterpart will be given an opportunity (that they are not forced to accept) to take
        money that belongs to their partner. This could be any amount between $0.10 and $3.00.
    </p>

    <p>
        The decisions of other participants, in the role of a prosecutor and in the role of jurors, will determine
        whether those suspected of taking money from their partner are found guilty or not-guilty of having done so.
        Some truly innocent people may appear to be guilty and some truly guilty people may appear to be innocent. As a
        result, your possible counterparts are of different types: those who have never been accused of a crime, those
        who have been accused, but never found guilty, and those who have been found guilty. All participants found
        guilty of having taken money from another participant had to pay a monetary penalty as well.
    </p>

    <p>
        Your decision is to tell us how much of your $10 endowment you would like to contribute to the Group Account.
        You can contribute in $2 increments. That is, you can contribute $0, $2, $4, $6, $8, or $10.
    </p>
    </div>
</div>

{% block scripts %}
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML">
</script>
{% endblock %}