{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Part 4
{% endblock %}

{% block content %}

    <p>
        In this part, you will participate in the same quarter exchange task as you did in part 1, only with a
        different partner. If you need to refamiliarize yourself with the rules of the task, please read through the
        instructions below. There will be no quiz following.
    </p>

    {% if player.role == 'Investor' %}

        {% include 'criminal_trust/InstructionsI.html' %}

    {% else %}

        {% include 'criminal_trust/InstructionsT.html' %}

    {% endif %}

    {% next_button %}

{% endblock %}
