{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Part 4
{% endblock %}

{% block content %}

    <p>
        In this part, you will participate in the same quarter exchange task as you did in part 1, only with a
        different partner. Please read through the instructions below, since your role has reversed.
    </p>

    {% if player.role == 'Investor' %}

        {% include 'criminal_trust/InstructionsI1.html' %}

    {% else %}

        {% include 'criminal_trust/InstructionsT.html' %}

    {% endif %}

    {% next_button %}

{% endblock %}
