{% load otree static %}

<div class="card bg-light">
    <div class="card-body">

    <h3>
        Instructions (continued)
    </h3>

    <p>
        For this part of the experiment, you will be randomly assigned to a counterpart who could be one of several
        “types”.  In an interaction separate from their interaction with you the computer will randomly pair them with
        another participant. In that interaction, the computer will first divide $10 between your counterpart and this
        other participant.  Your counterpart will be given an opportunity (that they are not forced to accept) to take
        money that belongs to their partner. This could be a small amount (between $0.10 and $1.00) a medium amount
        (between $1.00 and $2.00) or a large amount (between $2.00 and $3.00).
    </p>

    <p>
        The decisions of other participants, in the role of a prosecutor and in the role of jurors, will determine
        whether those suspected of taking money from their partner are found guilty or not-guilty of having done so.
        Some truly innocent people may appear to be guilty and some truly guilty people may appear to be innocent. As a
        result, your possible counterparts are of different types: those found guilty of having taken a small amount of
        their partner’s money, those found guilty of having taken a medium amount, or those found guilty of having taken
        a large amount, those found not-guilty, and those never accused of such a theft. All participants found guilty
        of having taken money from another participant had to pay a monetary penalty as well.
    </p>

    <p>
        Your decision is to tell us how many of your initial 10 quarters you will send to your counterpart in this part
        of the experiment.
    </p>
    </div>
</div>