{% load otree static %}

<div class="card bg-light">
    <div class="card-body">

    <h3>
        Instructions
    </h3>
    <p>
        In this part of the experiment you will be randomly paired with one other participant who is your counterpart
        for this part of the experiment.  You will not be paired with this participant in any other part of the
        experiment today.
    </p>
    <p>
        You and your counterpart have <b><i>each</i></b> been given an initial 10 quarters (10 x $0.25).
    </p>

    <p>
        Your counterpart will decide how many of their quarters, if any, to send to you.  Any quarters they send will be
        tripled by the experimenter, and then the tripled number of quarters will be given to you.  For instance, if
        they choose to send 2 quarters to you, then the experimenter would triple those 2 quarters and you would receive
        6 quarters (2x3=6).  For another example, if they choose to send 8 quarters to you, then the experimenter would
        triple those 8 quarters and you would receive 24 quarters (8x3=24).
    </p>

    <p>
        Your decision is to decide how many of the quarters you received that you would like to send back to your
        counterpart. You are permitted to send back as many or as few as you would like. However, you may not send back
        any of your initial 10 quarters and the quarters are not multiplied on their way back to your counterpart.
    </p>

    <p>
        For example, if your counterpart sends you 2 quarters, you would receive 6 quarters (2x3 = 6). Your decision
        would be whether to send back to your counterpart 0, 1, 2, 3, 4, 5, or 6 quarters. The number of quarters they
        would then have is the exact number you sent them plus their remaining 8 quarters from their initial 10 quarters
        (10-2 = 8). You would keep your initial 10 quarters plus the quarters you did not send back from the tripled
        amount you received.  For another example, if they choose to send 8 quarters to you, then you would receive 24
        quarters (3x8 = 24). You could then decide to send back as few as 0 quarters (in which case you would have your
        initial 10 quarters + 24 quarters – 0 quarters = 34 quarters and they would have their initial 10 quarters – 8
        quarters + 0 quarters = 2 quarters) or you could send back as many as 24 quarters (in which case you would have
        your initial 10 quarters + 24 quarters – 24 quarters = 10 quarters and they would have their initial 10 quarters
        – 8 quarters + 24 quarters = 26 quarters).
    </p>
        
    </div>
</div>