<div class="card bg-light">
    <div class="card-body">

    <h3>
        Instructions
    </h3>
    <p>
        In this part of the experiment you will be randomly paired with one other participant who is your counterpart
        for this part of the experiment.  You will not be paired with this participant in any other part of the
        experiment today.  Your counterpart will make no decisions in this interaction with you that can affect either
        your pay or their pay.
    </p>
    <p>
        There is $10 to be divided between you and your counterpart in this part of the experiment. The computer will
        present you with several randomly determined preset divisions of this $10. You will decide to report back on
        this division truthfully or to take some of your counterparts’ portion. After you have reported on each of the
        preset divisions, the computer will choose one of your reports for payment.
    </p>
    <p>
        Note, that your decision whether to falsely report the division may affect how you appear in the experiment
        today. Evidence as to whether you are guilty or innocent of taking money from your counterpart will be
        generated based upon your choice. If you truly do falsely report, there is a higher chance that there is
        evidence of your guilt.  However, if you accurately report the division, there is still a 30% chance that there
        is evidence that suggests that you are guilty.  You will also have some imperfect evidence regarding your
        innocence.  In particular, while you know for sure whether you took the money or not, you cannot perfectly
        prove your innocence. If you truly report the division accurately there is a higher chance you will have
        evidence of your innocence.  However, if you falsely report the division, there is still a 30% chance that you
        have evidence that suggests you are innocent.
    </p>
    </div>
</div>