{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Response
{% endblock %}

{% block content %}

    <p>You are <strong>Participant B</strong>. {% comment %}Player A has offered you a contract with the following details:</p>

    <table class='table text-center' style='width: auto; margin: auto'>
        <tr><th>Fixed payment</th><th>Return share</th></tr>
        <tr><td>{{ group.agent_fixed_pay }}</td><td>{{ group.return_share_as_percentage }}%</td></tr>
    </table>{% endcomment %}

    {% formfield group.contract_accepted_1 %}
    <div id="effort1">
    {% formfield group.agent_work_effort_1 %}
    </div>
{#    <p id="payoffMsg"></p>#}

    {% formfield group.contract_accepted_2 %}
    <div id="effort2">
    {% formfield group.agent_work_effort_2 %}
    </div>

    {% formfield group.contract_accepted_3 %}
    <div id="effort3">
    {% formfield group.agent_work_effort_3 %}
    </div>

    {% formfield group.contract_accepted_4 %}
    <div id="effort1">
    {% formfield group.agent_work_effort_4 %}
    </div>

    {% formfield group.contract_accepted_5 %}
    <div id="effort1">
    {% formfield group.agent_work_effort_5 %}
    </div>

    {% formfield group.contract_accepted_6 %}
    <div id="effort1">
    {% formfield group.agent_work_effort_6 %}
    </div>

    {% formfield group.contract_accepted_7 %}
    <div id="effort1">
    {% formfield group.agent_work_effort_7 %}
    </div>

    {% formfield group.contract_accepted_8 %}
    <div id="effort1">
    {% formfield group.agent_work_effort_8 %}
    </div>

    {% formfield group.contract_accepted_9 %}
    <div id="effort1">
    {% formfield group.agent_work_effort_9 %}
    </div>

    {% formfield group.contract_accepted_10 %}
    <div id="effort1">
    {% formfield group.agent_work_effort_10 %}
    </div>

    {% formfield group.contract_accepted_11 %}
    <div id="effort1">
    {% formfield group.agent_work_effort_11 %}
    </div>

    {% formfield group.contract_accepted_12 %}
    <div id="effort1">
    {% formfield group.agent_work_effort_12 %}
    </div>

    <p>
    {% next_button %}
    </p>

    {% include Constants.instructions_template %}

{% endblock %}

{% block scripts %}

<script>
$(document).ready(function() {


    var $effortDiv = $('#effort1');

    $('input').change(function () {
        var payoffMsg;

        var contractAccepted = $('input[name=contract_accepted_1]:checked').val();

        if (contractAccepted === 'False') {
            $effortDiv.hide();
        } else {
            $effortDiv.show();
        }

        {% comment %}var effort = $('input[name=agent_work_effort_1]:checked').val();
        if (contractAccepted === 'False') {
            payoffMsg = 'You will receive {{ Constants.reject_agent_pay }} if you choose to reject';
        }
        else if (!effort) {
            payoffMsg = '';
        }
        else if (contractAccepted === 'True' && effort) {
            var effortToCost = {{ Constants.EFFORT_TO_COST|json }};
            var effortToReturn = {{ Constants.EFFORT_TO_RETURN|json }};
            var agentReturnShare = {{ group.agent_return_share|json }};
            var agentFixedPay = {{ group.agent_fixed_pay|json }};

            //  [B's Return Share in %] × [Total Return] + [B's Fixed Payment] – [B's Effort Cost]
            var payoff = agentReturnShare * effortToReturn[effort] + agentFixedPay - effortToCost[effort];
            payoff = Math.round(payoff);
            payoffMsg = 'You will receive ' + payoff + ' if you choose ' + effort + '.';
        }
        $('p#payoffMsg').text(payoffMsg);{% endcomment %}
    });
});
</script>

<script>
$(document).ready(function() {


    var $effortDiv = $('#effort2');

    $('input').change(function () {
        var payoffMsg;

        var contractAccepted = $('input[name=contract_accepted_2]:checked').val();

        if (contractAccepted === 'False') {
            $effortDiv.hide();
        } else {
            $effortDiv.show();
        }

        {% comment %}var effort = $('input[name=agent_work_effort_2]:checked').val();
        if (contractAccepted === 'False') {
            payoffMsg = 'You will receive {{ Constants.reject_agent_pay }} if you choose to reject';
        }
        else if (!effort) {
            payoffMsg = '';
        }
        else if (contractAccepted === 'True' && effort) {
            var effortToCost = {{ Constants.EFFORT_TO_COST|json }};
            var effortToReturn = {{ Constants.EFFORT_TO_RETURN|json }};
            var agentReturnShare = {{ group.agent_return_share|json }};
            var agentFixedPay = {{ group.agent_fixed_pay|json }};

            //  [B's Return Share in %] × [Total Return] + [B's Fixed Payment] – [B's Effort Cost]
            var payoff = agentReturnShare * effortToReturn[effort] + agentFixedPay - effortToCost[effort];
            payoff = Math.round(payoff);
            payoffMsg = 'You will receive ' + payoff + ' if you choose ' + effort + '.';
        }
        $('p#payoffMsg').text(payoffMsg);{% endcomment %}
    });
});
</script>

<script>
$(document).ready(function() {


    var $effortDiv = $('#effort3');

    $('input').change(function () {
        var payoffMsg;

        var contractAccepted = $('input[name=contract_accepted_3]:checked').val();

        if (contractAccepted === 'False') {
            $effortDiv.hide();
        } else {
            $effortDiv.show();
        }

        {% comment %}var effort = $('input[name=agent_work_effort_3]:checked').val();
        if (contractAccepted === 'False') {
            payoffMsg = 'You will receive {{ Constants.reject_agent_pay }} if you choose to reject';
        }
        else if (!effort) {
            payoffMsg = '';
        }
        else if (contractAccepted === 'True' && effort) {
            var effortToCost = {{ Constants.EFFORT_TO_COST|json }};
            var effortToReturn = {{ Constants.EFFORT_TO_RETURN|json }};
            var agentReturnShare = {{ group.agent_return_share|json }};
            var agentFixedPay = {{ group.agent_fixed_pay|json }};

            //  [B's Return Share in %] × [Total Return] + [B's Fixed Payment] – [B's Effort Cost]
            var payoff = agentReturnShare * effortToReturn[effort] + agentFixedPay - effortToCost[effort];
            payoff = Math.round(payoff);
            payoffMsg = 'You will receive ' + payoff + ' if you choose ' + effort + '.';
        }
        $('p#payoffMsg').text(payoffMsg);{% endcomment %}
    });
});
</script>

<script>
$(document).ready(function() {


    var $effortDiv = $('#effort4');

    $('input').change(function () {
        var payoffMsg;

        var contractAccepted = $('input[name=contract_accepted_4]:checked').val();

        if (contractAccepted === 'False') {
            $effortDiv.hide();
        } else {
            $effortDiv.show();
        }

        {% comment %}var effort = $('input[name=agent_work_effort_4]:checked').val();
        if (contractAccepted === 'False') {
            payoffMsg = 'You will receive {{ Constants.reject_agent_pay }} if you choose to reject';
        }
        else if (!effort) {
            payoffMsg = '';
        }
        else if (contractAccepted === 'True' && effort) {
            var effortToCost = {{ Constants.EFFORT_TO_COST|json }};
            var effortToReturn = {{ Constants.EFFORT_TO_RETURN|json }};
            var agentReturnShare = {{ group.agent_return_share|json }};
            var agentFixedPay = {{ group.agent_fixed_pay|json }};

            //  [B's Return Share in %] × [Total Return] + [B's Fixed Payment] – [B's Effort Cost]
            var payoff = agentReturnShare * effortToReturn[effort] + agentFixedPay - effortToCost[effort];
            payoff = Math.round(payoff);
            payoffMsg = 'You will receive ' + payoff + ' if you choose ' + effort + '.';
        }
        $('p#payoffMsg').text(payoffMsg);{% endcomment %}
    });
});
</script>

<script>
$(document).ready(function() {


    var $effortDiv = $('#effort5');

    $('input').change(function () {
        var payoffMsg;

        var contractAccepted = $('input[name=contract_accepted_5]:checked').val();

        if (contractAccepted === 'False') {
            $effortDiv.hide();
        } else {
            $effortDiv.show();
        }

        {% comment %}var effort = $('input[name=agent_work_effort_5]:checked').val();
        if (contractAccepted === 'False') {
            payoffMsg = 'You will receive {{ Constants.reject_agent_pay }} if you choose to reject';
        }
        else if (!effort) {
            payoffMsg = '';
        }
        else if (contractAccepted === 'True' && effort) {
            var effortToCost = {{ Constants.EFFORT_TO_COST|json }};
            var effortToReturn = {{ Constants.EFFORT_TO_RETURN|json }};
            var agentReturnShare = {{ group.agent_return_share|json }};
            var agentFixedPay = {{ group.agent_fixed_pay|json }};

            //  [B's Return Share in %] × [Total Return] + [B's Fixed Payment] – [B's Effort Cost]
            var payoff = agentReturnShare * effortToReturn[effort] + agentFixedPay - effortToCost[effort];
            payoff = Math.round(payoff);
            payoffMsg = 'You will receive ' + payoff + ' if you choose ' + effort + '.';
        }
        $('p#payoffMsg').text(payoffMsg);{% endcomment %}
    });
});
</script>

<script>
$(document).ready(function() {


    var $effortDiv = $('#effort6');

    $('input').change(function () {
        var payoffMsg;

        var contractAccepted = $('input[name=contract_accepted_6]:checked').val();

        if (contractAccepted === 'False') {
            $effortDiv.hide();
        } else {
            $effortDiv.show();
        }

        {% comment %}var effort = $('input[name=agent_work_effort_6]:checked').val();
        if (contractAccepted === 'False') {
            payoffMsg = 'You will receive {{ Constants.reject_agent_pay }} if you choose to reject';
        }
        else if (!effort) {
            payoffMsg = '';
        }
        else if (contractAccepted === 'True' && effort) {
            var effortToCost = {{ Constants.EFFORT_TO_COST|json }};
            var effortToReturn = {{ Constants.EFFORT_TO_RETURN|json }};
            var agentReturnShare = {{ group.agent_return_share|json }};
            var agentFixedPay = {{ group.agent_fixed_pay|json }};

            //  [B's Return Share in %] × [Total Return] + [B's Fixed Payment] – [B's Effort Cost]
            var payoff = agentReturnShare * effortToReturn[effort] + agentFixedPay - effortToCost[effort];
            payoff = Math.round(payoff);
            payoffMsg = 'You will receive ' + payoff + ' if you choose ' + effort + '.';
        }
        $('p#payoffMsg').text(payoffMsg);{% endcomment %}
    });
});
</script>

<script>
$(document).ready(function() {


    var $effortDiv = $('#effort7');

    $('input').change(function () {
        var payoffMsg;

        var contractAccepted = $('input[name=contract_accepted_7]:checked').val();

        if (contractAccepted === 'False') {
            $effortDiv.hide();
        } else {
            $effortDiv.show();
        }

        {% comment %}var effort = $('input[name=agent_work_effort_7]:checked').val();
        if (contractAccepted === 'False') {
            payoffMsg = 'You will receive {{ Constants.reject_agent_pay }} if you choose to reject';
        }
        else if (!effort) {
            payoffMsg = '';
        }
        else if (contractAccepted === 'True' && effort) {
            var effortToCost = {{ Constants.EFFORT_TO_COST|json }};
            var effortToReturn = {{ Constants.EFFORT_TO_RETURN|json }};
            var agentReturnShare = {{ group.agent_return_share|json }};
            var agentFixedPay = {{ group.agent_fixed_pay|json }};

            //  [B's Return Share in %] × [Total Return] + [B's Fixed Payment] – [B's Effort Cost]
            var payoff = agentReturnShare * effortToReturn[effort] + agentFixedPay - effortToCost[effort];
            payoff = Math.round(payoff);
            payoffMsg = 'You will receive ' + payoff + ' if you choose ' + effort + '.';
        }
        $('p#payoffMsg').text(payoffMsg);{% endcomment %}
    });
});
</script>

<script>
$(document).ready(function() {


    var $effortDiv = $('#effort8');

    $('input').change(function () {
        var payoffMsg;

        var contractAccepted = $('input[name=contract_accepted_8]:checked').val();

        if (contractAccepted === 'False') {
            $effortDiv.hide();
        } else {
            $effortDiv.show();
        }

        {% comment %}var effort = $('input[name=agent_work_effort_8]:checked').val();
        if (contractAccepted === 'False') {
            payoffMsg = 'You will receive {{ Constants.reject_agent_pay }} if you choose to reject';
        }
        else if (!effort) {
            payoffMsg = '';
        }
        else if (contractAccepted === 'True' && effort) {
            var effortToCost = {{ Constants.EFFORT_TO_COST|json }};
            var effortToReturn = {{ Constants.EFFORT_TO_RETURN|json }};
            var agentReturnShare = {{ group.agent_return_share|json }};
            var agentFixedPay = {{ group.agent_fixed_pay|json }};

            //  [B's Return Share in %] × [Total Return] + [B's Fixed Payment] – [B's Effort Cost]
            var payoff = agentReturnShare * effortToReturn[effort] + agentFixedPay - effortToCost[effort];
            payoff = Math.round(payoff);
            payoffMsg = 'You will receive ' + payoff + ' if you choose ' + effort + '.';
        }
        $('p#payoffMsg').text(payoffMsg);{% endcomment %}
    });
});
</script>

<script>
$(document).ready(function() {


    var $effortDiv = $('#effort9');

    $('input').change(function () {
        var payoffMsg;

        var contractAccepted = $('input[name=contract_accepted_9]:checked').val();

        if (contractAccepted === 'False') {
            $effortDiv.hide();
        } else {
            $effortDiv.show();
        }

        {% comment %}var effort = $('input[name=agent_work_effort_9]:checked').val();
        if (contractAccepted === 'False') {
            payoffMsg = 'You will receive {{ Constants.reject_agent_pay }} if you choose to reject';
        }
        else if (!effort) {
            payoffMsg = '';
        }
        else if (contractAccepted === 'True' && effort) {
            var effortToCost = {{ Constants.EFFORT_TO_COST|json }};
            var effortToReturn = {{ Constants.EFFORT_TO_RETURN|json }};
            var agentReturnShare = {{ group.agent_return_share|json }};
            var agentFixedPay = {{ group.agent_fixed_pay|json }};

            //  [B's Return Share in %] × [Total Return] + [B's Fixed Payment] – [B's Effort Cost]
            var payoff = agentReturnShare * effortToReturn[effort] + agentFixedPay - effortToCost[effort];
            payoff = Math.round(payoff);
            payoffMsg = 'You will receive ' + payoff + ' if you choose ' + effort + '.';
        }
        $('p#payoffMsg').text(payoffMsg);{% endcomment %}
    });
});
</script>

<script>
$(document).ready(function() {


    var $effortDiv = $('#effort10');

    $('input').change(function () {
        var payoffMsg;

        var contractAccepted = $('input[name=contract_accepted_10]:checked').val();

        if (contractAccepted === 'False') {
            $effortDiv.hide();
        } else {
            $effortDiv.show();
        }

        {% comment %}var effort = $('input[name=agent_work_effort_10]:checked').val();
        if (contractAccepted === 'False') {
            payoffMsg = 'You will receive {{ Constants.reject_agent_pay }} if you choose to reject';
        }
        else if (!effort) {
            payoffMsg = '';
        }
        else if (contractAccepted === 'True' && effort) {
            var effortToCost = {{ Constants.EFFORT_TO_COST|json }};
            var effortToReturn = {{ Constants.EFFORT_TO_RETURN|json }};
            var agentReturnShare = {{ group.agent_return_share|json }};
            var agentFixedPay = {{ group.agent_fixed_pay|json }};

            //  [B's Return Share in %] × [Total Return] + [B's Fixed Payment] – [B's Effort Cost]
            var payoff = agentReturnShare * effortToReturn[effort] + agentFixedPay - effortToCost[effort];
            payoff = Math.round(payoff);
            payoffMsg = 'You will receive ' + payoff + ' if you choose ' + effort + '.';
        }
        $('p#payoffMsg').text(payoffMsg);{% endcomment %}
    });
});
</script>

<script>
$(document).ready(function() {


    var $effortDiv = $('#effort11');

    $('input').change(function () {
        var payoffMsg;

        var contractAccepted = $('input[name=contract_accepted_11]:checked').val();

        if (contractAccepted === 'False') {
            $effortDiv.hide();
        } else {
            $effortDiv.show();
        }

        {% comment %}var effort = $('input[name=agent_work_effort_11]:checked').val();
        if (contractAccepted === 'False') {
            payoffMsg = 'You will receive {{ Constants.reject_agent_pay }} if you choose to reject';
        }
        else if (!effort) {
            payoffMsg = '';
        }
        else if (contractAccepted === 'True' && effort) {
            var effortToCost = {{ Constants.EFFORT_TO_COST|json }};
            var effortToReturn = {{ Constants.EFFORT_TO_RETURN|json }};
            var agentReturnShare = {{ group.agent_return_share|json }};
            var agentFixedPay = {{ group.agent_fixed_pay|json }};

            //  [B's Return Share in %] × [Total Return] + [B's Fixed Payment] – [B's Effort Cost]
            var payoff = agentReturnShare * effortToReturn[effort] + agentFixedPay - effortToCost[effort];
            payoff = Math.round(payoff);
            payoffMsg = 'You will receive ' + payoff + ' if you choose ' + effort + '.';
        }
        $('p#payoffMsg').text(payoffMsg);{% endcomment %}
    });
});
</script>

<script>
$(document).ready(function() {


    var $effortDiv = $('#effort12');

    $('input').change(function () {
        var payoffMsg;

        var contractAccepted = $('input[name=contract_accepted_12]:checked').val();

        if (contractAccepted === 'False') {
            $effortDiv.hide();
        } else {
            $effortDiv.show();
        }

        {% comment %}var effort = $('input[name=agent_work_effort_12]:checked').val();
        if (contractAccepted === 'False') {
            payoffMsg = 'You will receive {{ Constants.reject_agent_pay }} if you choose to reject';
        }
        else if (!effort) {
            payoffMsg = '';
        }
        else if (contractAccepted === 'True' && effort) {
            var effortToCost = {{ Constants.EFFORT_TO_COST|json }};
            var effortToReturn = {{ Constants.EFFORT_TO_RETURN|json }};
            var agentReturnShare = {{ group.agent_return_share|json }};
            var agentFixedPay = {{ group.agent_fixed_pay|json }};

            //  [B's Return Share in %] × [Total Return] + [B's Fixed Payment] – [B's Effort Cost]
            var payoff = agentReturnShare * effortToReturn[effort] + agentFixedPay - effortToCost[effort];
            payoff = Math.round(payoff);
            payoffMsg = 'You will receive ' + payoff + ' if you choose ' + effort + '.';
        }
        $('p#payoffMsg').text(payoffMsg);{% endcomment %}
    });
});
</script>

<script>
$(document).ready(function() {


    var $effortDiv = $('#effort13');

    $('input').change(function () {
        var payoffMsg;

        var contractAccepted = $('input[name=contract_accepted_13]:checked').val();

        if (contractAccepted === 'False') {
            $effortDiv.hide();
        } else {
            $effortDiv.show();
        }

        {% comment %}var effort = $('input[name=agent_work_effort_12]:checked').val();
        if (contractAccepted === 'False') {
            payoffMsg = 'You will receive {{ Constants.reject_agent_pay }} if you choose to reject';
        }
        else if (!effort) {
            payoffMsg = '';
        }
        else if (contractAccepted === 'True' && effort) {
            var effortToCost = {{ Constants.EFFORT_TO_COST|json }};
            var effortToReturn = {{ Constants.EFFORT_TO_RETURN|json }};
            var agentReturnShare = {{ group.agent_return_share|json }};
            var agentFixedPay = {{ group.agent_fixed_pay|json }};

            //  [B's Return Share in %] × [Total Return] + [B's Fixed Payment] – [B's Effort Cost]
            var payoff = agentReturnShare * effortToReturn[effort] + agentFixedPay - effortToCost[effort];
            payoff = Math.round(payoff);
            payoffMsg = 'You will receive ' + payoff + ' if you choose ' + effort + '.';
        }
        $('p#payoffMsg').text(payoffMsg);{% endcomment %}
    });
});
</script>

{% endblock %}