{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Part 1 - Instructions{% endblock %}

{% block content %}
    {% if player.role == 'agent' %}
        {% include Constants.instructions_template_A %}
    {% endif %}

    {% if player.role == 'principal' %}
        {% include Constants.instructions_template_P %}
    {% endif %}
<div id="content">
    {% next_button %}
</div>
{% endblock %}

{% block scripts %}

    <script>
        $(function() {
    $('#content').hide().delay(30*1000).fadeIn('slow');

});
    </script>

{% endblock %}