{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Propose a contract
{% endblock %}

{% block content %}

    <p>
        You are <strong>Participant A</strong>. Please propose a contract for Participant B.
    </p>

    {% formfield group.agent_fixed_pay_1  %}

    {% formfield group.agent_fixed_pay_2  %}

    {% formfield group.agent_fixed_pay_3  %}

    {% formfield group.agent_fixed_pay_4  %}

    {% formfield group.agent_fixed_pay_5  %}

    <p>
        Fixed payment must be between
        {{ Constants.min_fixed_payment }} and {{ Constants.max_fixed_payment }}.
    </p>

{#    {% formfield group.agent_return_share label='Return Share' %}#}

    <p></p>

    {% next_button %}

{% endblock %}

