<div class="card bg-light">
    <div class="card-body">

    <p>
        Thank you for participating in today’s experiment. Everyone participating today has earned an initial $10
        participation payment.  You may earn more money, and how much you earn is based upon your own decisions and the
        decisions of others.  All your decisions today are anonymous.  You will not be told the names of those
        participants with whom you interact during the experiment and they will not be told your name. Likewise your
        decisions will not be stored in connection with your name in the experiment.
    </p>
    </div>
</div>