{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Survey - Part 4
{% endblock %}

{% block content %}

    {% formfield player.Age %}

    {% formfield player.Gender %}

    {% formfield player.RaceOrEthnicity %}

    {% formfield player.SubjectOfStudy %}

    {% formfield player.PoliticalViews %}

    {% formfield player.VotingBehavior %}

    {% formfield player.PartyAffiliation %}

    {% formfield player.ReligiousServices %}

    {% formfield player.Congregation %}

    {% formfield player.Confusion %}

    {% formfield player.WhatConfusion %}

    {% formfield player.FamilyIncome %}

    {% formfield player.EconClasses %}

    {% formfield player.Work %}

    {% next_button %}

{% endblock %}
