{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Survey - Part 4
{% endblock %}

{% block content %}

    {% formfield player.ClarityOfInstructions %}

    {% formfield player.PercentTakeSmall %}

    {% formfield player.PercentTakeMedium %}

    {% formfield player.PercentTakeLarge %}

    {% formfield player.ReasonableDoubt %}

    {% formfield player.ReasonableDoubtJuror %}

    {% formfield player.PleadFifth %}

    {% formfield player.InnocentPleadFifth %}

    {% formfield player.GuiltyPleadFifth %}

    {% formfield player.Opinion %}

    {% next_button %}

{% endblock %}