{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Survey - Part 1
{% endblock %}

{% block content %}

    <p>
        Below is a list of statements which can be used to describe how people feel. Beside each statement are four
        options which indicate the degree with which each statement is self-descriptive of mood <b>at this moment</b>.
        Please read each statement carefully and select the option which best indicates how you feel <b>right now</b>, at this
        very moment, even if <b>this is not how you usually feel</b>.
    </p>

    <table class="tg">
    <tr>
        <th width="60%" ></th>
        <th class="tg-s6z2" width="10%">Not at all</th>
        <th class="tg-s6z2" width="10%">A little</th>
        <th class="tg-s6z2" width="10%">Moderately</th>
        <th class="tg-s6z2" width="10%">Very much so</th>
    </tr>
    {% for field in form %}
        <tr>
            <th>{{ field.label }}</th>
            {% for choice in field %}
                <td class="tg-s6z2">{{ choice }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>

    {% next_button %}

{% endblock %}

{% block styles %}
    <style type="text/css">
    .tg  {border-collapse:separate;border-spacing:10px;}
    .tg .tg-s6z2{text-align:center;}
</style>

{% endblock %}